<div class="alert alert-danger flash-message show" role="alert">
	<%= alert %>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	<div class="progress-bar-container">
		<div class="progress-bar"></div>
	</div>
</div>
