.flash-messages-container {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 1050;
    width: 350px;
    max-width: 90%;
}

.flash-message {
    position: relative;
    overflow: hidden;
    padding-bottom: 25px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px #c860051a;
    border-radius: 0.375rem;

    padding-right: 3rem; // Дополнительный отступ справа для кнопки

    &.fade:not(.show) {
        opacity: 0;
    }
    &.fade {
        transition: opacity 0.5s linear;
    }

    // Стили для кнопки закрытия внутри флеш-сообщения
    .btn-close {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        z-index: 2;
    }
}

.flash-message .progress-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ff00001a;
}

.flash-message .progress-bar {
	height: 100%;
	width: 100%;
	background-color: #f30a5ccf;//#069ef680
	transition: width linear;

	// --- УПРОЩЕННЫЙ TRANSITION ---
	// Будем управлять transition-duration и width полностью из JS
	transition-property: width; // Анимируем только ширину
	transition-timing-function: linear; // Линейная анимация
	// transition-duration будет устанавливаться JS
	// animation-play-state мы убираем из CSS, он будет в JS
}

.alert-success {
  background-color: #76BF4C; /* Например, более светлый зеленый */
  border-color: #C8E6C9;   /* Цвет границы */
  color: #FFFFFF;         /* Цвет текста */
}

.alert-success .progress-bar {
  background-color: #9bdfff;
}

.alert-danger {
  background-color: #ffebeb;
  border-color: #FFCDD2;
  color: #B71C1C;
}

.alert-danger .progress-bar {
  background-color: rgba(255, 255, 255, 0.3);
}
